<% provide :title do  %>
	<%= 'About us' %>
<%end%>

<% provide :toppage do  %>
<%end%>

<h1><%= 'About' %></h1>



		<div id="logo2">GENERATION</div>
		<div id="logo2", class="yellow">3</div>
		<div id="logo2", class="orange">1</div>
		<div id="logo2", class="red">5</div>
		
&nbspis a platform for collective action. Our goal is to raise awareness and change behavior around topics which are most important to all of us
by making social activism more effective and more appealing to the masses. We are defined by:<br /><br />  
<b><span class="yellow">3</span>&nbspVotes</b>: These votes are used to support campaigns which you believe are most important. Each campaign has very specific goals and timelines. At the end of each campaign cycle, the most popular campaign gets launched. If one of the campaigns you voted on gets launched, you can use that vote again on any other campaign. At any point, you can change your vote. <br /><br />
<b><span class="orange">1</span>&nbspCampaign</b>: At any one time, only one campaign will ever run. Campaigns usually run for 2-6 months. Once a campaign finishes, the next most popular campaign is launched <br /><br />
<b><span class="red">5</span>&nbspFriends</b>: For change to be effective, a large number of participants must be on board. To achieve this goal, we ask that everyone share this campaign with 5 friends or family members <br /><br />

The campaign cycle:
<div class="shh" id="centers">
<img src="/images/cycle.png"/>
</div>

<div id="bar2"></div>	
<h4 id="left">Our Role</h4> 
		<div id="logo2">GENERATION</div>
		<div id="logo2", class="yellow">3</div>
		<div id="logo2", class="orange">1</div>
		<div id="logo2", class="red">5</div>&nbspis here to ensure campaigns are successful. Our responsibilites includes:<br /><br /> 
-Marketing and promotion of campaings (Video production, Petitions, Advertisement, )<br />
-Ensuring all campaigns meet our quality standards<br />
-Performing research of all information posted on the website<br />
<div id="bar2"></div>	
<h4 id="left">Our Team</h4> 


<div class="block">
	<div class="shh">
		<div class="imgholder3">
			<img src="/images/eric.jpg" id="us"/>
		</div>
		<b>Eric Arsenault</b><br /> 
		<b>CEO & Founder </b><br /><br />
		<b>Interests</b>: Self proclaimed dreamer, inventor, artist, snowboarder, musician, breakdancer, scientist and ninja. <br />
		<b>Why 315?</b> Because now we can. <br />
		<b>What would you change?</b> Toxins creep me out. We needlessly consume them at the expense of our health and our environment.
	</div>
</div>


<!--
<h2>Why</h2>
<div class="aboutus">ChangeByFive is here to provide a voice to the people and to focus efforts on the things which are most important to us to change our society into a better place.</div> 

<h2>How</h2>
<div class="aboutus">ChangeByFive is a non-profit corporation. 
We are a platform for change. ChangeByFive is defined by
our focused efforts, our numbers and Five.</div>

<div class="aboutus"><b><i>Focus.</i></b> We are here to raise the most pressing issues of our time. All of us might have 
different thoughts on what is most important. But say we had to choose. Say we had to 
decide - what would you change? ChangebyFive allows users to vote for topics they feel are important. 
Each user has Five votes which they can distribute in any way they choose. After 6 months, the most popular
topic is launched as a campaign.  ChangeByFive opted to have only one campaign every six months is simple. By focusing our efforts,
we will drastically increase our chances of success and give a clear message to our leaders that we, the people, 
are ready for change. </div>


<div class="aboutus"><b><i>Numbers.</i></b> ChangeByFive has a goal of reaching every single person in North America.
We live in a democracy. Lets show our leaders that we do care. That we do have a voice. </div>

<div class="aboutus"><b><i>Five.</i></b>  Five is our request. To change the world is no small task, and we ask that every person share
each campaign with Five individuals, two of which must not use social networks frequently. Five was chosen 
quite arbitrarily, although the number Five has a nice ring to it. </div>

--!>