<h1>THANK YOU!</h1> <br />
	<img src="/images/front page logo.png" id="frontlogo"/>
<h3><br />
Stay tuned for updates. <br /><br /><br />

Be sure to check out our mini-store! We <b>only</b> ever carry 3 hand-picked quality products, and all profits go to support campaigns.<br /><br />
</h3>
<%= link_to "Check it out!", items_path, class: "btn btn-large btn-primary", id: "belowbutton" %>