
<h1>Books</h1>


	<div id="container", class="contained"> 
	<% @items.each do |item| %>	
		<% if  item.launched == "yes" %>
			<% if  item.book == "yes" %>
				<div class="block">
					<div class="imgholder">
						<%= link_to image_tag(item.pictures_url), edit_item_path(:id => item.id)  %> <br />
					</div>	
					<strong>
						<%= link_to item.name, edit_item_path(:id => item.id)	, {:style=>'color:#000000;'} %>
					</strong>
					<div class="meta">
						<%= item.cost.to_f/100 %> $
					</div> 
				</div>
			<%end%>	
		<%end%>
	<% end %>
	</div>